body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #1c5d99;
  color: #fff;
}

img {
  max-width: 40%;
  max-height: 40%;
}

h1 {
  font-size: 200%;
}

h2 {
  margin: 2% 0;
  font-size: 180%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

img{
  max-width: 40%;
  max-height: 40%;
  display: inline-block;
} 

main {
  width: 96%;
  margin: 2rem auto;
}

div .Portfolio {
  display: inline-block;
  opacity: .5;
  min-width: 40%;
  min-height: 40%;  
  flex-direction: row;
  flex-wrap: wrap;
}


section .Portfolio:hover{
  opacity: 1;
}

section .Highlight{
  
  opacity: .5;
  min-width: 80%;
  min-height: 80%;
}



section .Highlight:hover{
  opacity: 1;
}

.Avi{
  
  opacity: 1;
  border-radius: 0px 50px 50px 0px;
}



section {
  flex: 1 1 0;
  padding-right: 5%;
  display: inline-block;
}

article {
  border-left: 5px solid #3b8ad4;
  display: inline-block;
}

article p {
  margin: 2% 0;
  font-size: 110%;
}



aside {
  width: 25%;
}

aside h2 {
  font-size: 150%;
}

input,
button {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
}

footer {
  text-align: center;
}



.resources .links {
  display: none;
  padding: 1% 0;
}

.Cards {
  justify-content: center;
}

.resources:hover .links {
  display: block;
}

.resources h3 {
  font-size: 150%;
}

.links a {
  color: #772014;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

img .Portfolio {
  position: relative;
  display: inline-block;
  justify-content: space-around;
}



div.container {
  min-width: 40%;
  position: relative;
  flex-wrap: wrap;
  
}
 




.text-block {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

article p .Contact{
  text-decoration: cornflowerblue;
  text-emphasis: 15;
}
